:root {
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-size: 0.62em;
  font-family: "Poppins", sans-serif;
}

/* HEADER ----------------------------------------- *h  */

header {
  height: 100vh;
  display: flex;
  justify-content: center;

  background-image: radial-gradient(#04425ad2, #000000e8),
    url(/media/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .wrapper {
  padding: 2rem;
  width: 98vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__pill {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--white);
}

/* HEADER ROW--1 ----------------------------------*/
header .header__row--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 15rem;
}
.header__pill--1 {
  color: var(--white);
}

/* HEADER ROW--2   */
header .header__row--2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  flex-basis: 60%;
}

/* title --------------*/
.header__row--2 h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--white);
  text-shadow: 0 0 4px;

  flex: 0 0 10%;
}

/* Navigation  main --------*n  */
.nav-main {
  display: flex;
  align-items: center;
  width: 60%;
  margin-bottom: 8rem;
}

.nav-main__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 100%;
  position: relative;
}

.nav-main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  flex: 0 0 25%;
}

.nav-main__link {
  text-align: center;
  font-size: 0.8rem;
  color: var(--white);
  text-transform: uppercase;
  text-shadow: 0 0 2px;
}

/* 
- Hover aplicado al enlace 
- El sub-menú desaparece cuando quito el foco del ratón del enlace.
- Si coloco el hover en el li, el sub-menú no desaparece pero aparece cuando paso el ratón por cualquier parte que pertenezca al sub-menú
- No he conseguido aún que eso no ocurra, así que lo he dejado en el enlace, para que al menos tengas algo medio respetable y le puedas echar un vistazo sin morir en el intento
 */
.nav-main__link:hover + .nav-sub__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  opacity: 1;
}

/* Navigation sub ---------*/

.nav-sub__list {
  display: none;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  transition: opacity 2s;
  position: absolute;
}

.nav-sub__item {
  text-align: center;
  border-bottom: solid 1px var(--white);
  position: relative;
}

.nav-sub__link {
  color: var(--white);
  text-transform: uppercase;
}

/* Description ---------- */
.header__description {
  display: flex;
  flex-direction: column;
  width: 40%;

  flex: 0 0 10%;
}

.header__description h2 {
  text-align: center;
  font-size: 1.6rem;
  color: var(--white);
  text-transform: uppercase;
}

.header__description p {
  color: var(--white);
}

/* HEADER ROW--3 ----------------------------------*/
header .header__row--3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__social-network {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icon {
  font-size: 2rem;
  color: #fff;
}
