* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-size: 0.62em;
}

/* HEADER ----------------- *h  */

header {
    height: 100vh;
}

header .wrapper {
    width: 85vw;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    border: solid 2px black;
}

header .wrapper .header__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
    

a img.header__arrow-icon {
    width: 2rem;
}
    

header .wrapper img.header__logo {
    width: 10rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.pill--1 {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.pill--2 {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.pill--3 {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
    







    





































































