:root {
    --white: #fff;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-size: 0.62em;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(10, 10, 10, 0.459);
}


/* HEADER ----------------- *h  */

header {
    height: 100vh;
    display: flex;
    justify-content: center;

    background: radial-gradient(#000000af, #161616e8), url(/media/img/header-bg.jpg);
    background-repeat: no-repeat;
}

header .wrapper {
    padding: 2rem;
    width: 98vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header__pill {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--white);
}

/* HEADER ROW--1 */
header .header__row--1 {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-basis: 20%;
}

.header__logo {
    width: 15rem;
}
.header__pill--1 {
    color: var(--white);
}




/* HEADER ROW--2   */
header .header__row--2 {
    flex-basis: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

/* title */
.header__row--2 h1 {
    flex-basis: 10%;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--white);
    text-shadow: 0 0 4px;
}

   
/* navigation  *n  */
.nav-main {
    flex-basis: 30%;
}
.nav-main__list {
    display: flex;
    gap: 4rem;
}

.nav-main__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
 
.nav-main__link {
    font-size: .8rem;
    color: var(--white);
    text-transform: uppercase;
    text-shadow: 0 0 2px;
}

.nav-main__item:hover > .nav-sub__list {
    opacity: 1;
    width: 100%;
    height: 100%;
    overflow: visible;
}
    
.nav-sub__list {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    transition: opacity .8s ease;
}

.nav-sub__item {
    width: 100%;
    text-align: center;
    border-bottom: solid 1px var(--white);
}
    

.nav-sub__link {
    color: var(--white);
    text-transform: capitalize;
}


/* Description *des */
.header__description {
    flex-basis: 10%;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 30%;
}

.header__description h2 {
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
}

.header__description p {
    color: var(--white);
}
    




/* HEADER ROW--3 */
header .header__row--3 {
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-basis: 20%;
}

.header__social-network {
    color: blue;
}








    





































































